span.tooltip {
    position: absolute;
    width: 263px;
    /*height: 309px;*/
    line-height: 48px;
    padding: 0px 16px 0px 8px;
    font-size: 22px;
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(0,0,0);
    border: 0px 0px 0px 0px none none none none rgb(255, 255, 255) rgb(70, 126, 42) rgb(255, 255, 255)      rgb(255, 255, 255);
    border-radius: 0px 3.2px 3.2px 0px;
    text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px;
    display:none;
    margin:-30px 0 0px 30px;
    opacity:0.7;
    z-index:1;
}


span.tooltip:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 24px;
    border-style: solid;
    border-color: transparent #000 transparent transparent;
    top:0px;
    left:-36px;

}
a.demo:hover > span{display:block;}


.text_css {

font-size: 10px; float: right; margin-top: -4px; margin-right: 0px; width: 246px; margin-left:7px;line-height:25px;color:powderblue;font-family:inherit;

 -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    text-align:left;

}
span.tooltip1 {
    position: absolute;
    width: 263px;
    /*height: 580px;*/
    line-height: 48px;
    padding: 0px 16px 0px 8px;
    font-size: 22px;
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(0,0,0);
    border: 0px 0px 0px 0px none none none none rgb(255, 255, 255) rgb(70, 126, 42) rgb(255, 255, 255)      rgb(255, 255, 255);
    border-radius: 0px 3.2px 3.2px 0px;
    text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px;
    display:none;
    margin:-30px 0 0px 30px;
    opacity:0.7;
    z-index:1;
}

span.tooltip1:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 24px;
    border-style: solid;
    border-color: transparent #000 transparent transparent;
    top:0px;
    left:-36px;

}
/*td 
{
    height: 50px; 
    width:150px;
    
}*/
